body {
    font-family: 'Inconsolata', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:  #fff5d7;
    color: midnightblue;
    position: relative;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: #fff5d7;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    color: midnightblue;
}