body {
    background-color: #fff5d7;
    font-family: 'Inconsolata', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3a243b;
} 

#nav-bar {
    position: fixed;
    list-style-type: none;
    text-decoration: none;
    background-color: #fff5d7;
    top: 0;
    left: 0;
    width: 100%;
    
}

#nav-bar ul {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #3a243b;
    font-family: 'Inconsolata', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style-type: none;
    display: inline-block;
    
}


.main {
    padding-top: 300px;
}