body {
    background-color: #fff5d7;
    font-family: 'Inconsolata', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(31, 1, 31);
} 

.nav-bar {
    position: fixed;
    list-style-type: none;
    text-decoration: none;
    background-color: #fff5d7;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.nav-bar ul {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
    font-family: 'Inconsolata', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    
}

.nav-bar a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(31, 1, 31)
}


.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
    padding: 50px;
}

.main-body {
    padding-top: 100px;
}

.main-body h1 {
    font-weight: 700;
    font-size: 50px;
    color: rgb(31, 1, 31);
    line-height: 50px;
    text-align: left;
    padding: 50px;

}

.social-media {
    
}

.down-arrow {
    padding-top: 100px;
    width: 80%;
    text-align: center;
    align-self: flex-end;
    margin: -14vh auto 0px;
}